<div class="px-2 pt-1 md:pt-0">
    <div class="flex flex-row items-center pb-1 border-b border-gray-200">
        <div class="flex-1 uppercase font-bold text-gray-500 text-sm">
            {{ account()?.name ?? 'Compte' }}
        </div>
        <div class="ml-2 flex items-center">
            <fa-icon [icon]="icEditAccount" class="text-gray-300 hover:text-[#58a9ff] cursor-pointer"></fa-icon>
        </div>
    </div>
    <div class="flex flex-row items-center mb-1 pb-1 border-b border-gray-200 py-2 gap-2">
        <div class="hidden md:flex md:basis-8/12">
            <div id="graph-container" class="bg-gray-100 w-full h-36"></div>
        </div>
        <div class="basis-full md:basis-4/12">
            <div id="currentBalance" class="flex flex-row">
                <div class="flex-1 text-sm text-gray-500">Solde actuel</div>
                <div class="text-sm text-right" [class]="amountClass(account()?.currentBalance)">
                    {{ formatAmount(account()?.currentBalance) }}
                </div>
            </div>
            <div id="reconciledBalance" class="flex flex-row" *ngIf="shouldShowReconciled()">
                <div class="flex-1 text-sm text-gray-500">Solde bancaire</div>
                <div class="text-sm text-right" [class]="amountClass(account()?.reconciledBalance)">
                    {{ formatAmount(account()?.reconciledBalance) }}
                </div>
            </div>
            <div id="pointedBalance" *ngIf="shouldShowPointed()">
                <div class="flex flex-row">
                    <div class="flex-1 text-sm text-gray-500">Solde pointé</div>
                    <div class="text-sm text-right" [class]="amountClass(account()?.pointedBalance)">
                        {{ formatAmount(account()?.pointedBalance) }}
                    </div>
                </div>
                <div class="flex flex-row mt-2">
                    <button type="button"
                        class="w-full text-xs bg-gray-200 hover:bg-emerald-300 cursor-pointer border-dashed hover:border-solid border border-gray-600 hover:border-emerald-600 rounded-xl p-2 h-8 flex items-center justify-center">
                        Rapprocher le compte
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row items-center">
        <div class="basis-full md:basis-3/12">
            <button type="button"
                class="cursor-pointer flex items-center gap-2 p-1 px-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#58a9ff] max-w-xs text-left">
                <fa-icon [icon]="icTransactionAdd" class="text-base text-slate-700"></fa-icon>
                <span class="text-sm font-medium">Ajouter une transaction</span>
            </button>
        </div>
    </div>
</div>
