# Dependencies
/node_modules/

# Build output
/dist/
/coverage/

# Environment files
.env
.env.local

# Prisma
/prisma/dev.db
/prisma/*.db
/prisma/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
/.cache/
/.tscache/
/.eslintcache

# OS files
.DS_Store
Thumbs.db

# Misc
/tmp/
.idea/
.vscode/
/postgres-data/
