<nav class="w-full">
  <ul class="flex flex-row gap-2 items-center justify-start border-b border-gray-200 pb-1">
    <li>
      <button type="button" (click)="openCreateGroupDialog()" class="cursor-pointer flex items-center gap-2 p-2 px-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#58a9ff] max-w-xs text-left">
        <fa-icon [icon]="icCategoryGroup" class="text-base text-slate-700"></fa-icon>
        <span class="text-sm font-medium">Ajouter un groupe de catégories</span>
      </button>
    </li>
  </ul>
</nav>
