<div>
    <div class="flex flex-row px-2 h-8 text-xs font-semibold uppercase text-gray-500 bg-gray-50">
        <div class="basis-8/12 md:basis-4/12 flex items-center px-1">Compte bancaire</div>
        <div class="hidden basis-4/12 md:basis-4/12 md:flex items-center justify-end px-1 text-right">
            Solde rapproché
        </div>
        <div class="basis-4/12 md:basis-4/12 flex items-center justify-end px-1 text-right">
            Solde
        </div>
        <div class="w-8 flex items-center justify-end px-1 text-right">
            &nbsp;
        </div>
    </div>

    <div class="flex flex-row px-2 h-8 text-sm font-semibold uppercase text-gray-500 mt-1">
        <div class="basis-8/12 md:basis-4/12 flex items-center px-1">Compte CIC</div>
        <div class="hidden basis-4/12 md:basis-4/12 md:flex items-center justify-end px-1 text-right">
            1 203,00 €
        </div>
        <div class="basis-4/12 md:basis-4/12 flex items-center justify-end px-1 text-right">
            1 203,00 €
        </div>
        <div class="w-8 flex items-center justify-end px-1 text-right">
           <fa-icon [icon]="icEditAccount" class="text-gray-400 text-xs cursor-pointer hover:text-[#58a9ff]"></fa-icon>
        </div>
    </div>
</div>