<div>
    <div class="flex flex-row px-2 h-8 text-xs font-semibold uppercase text-gray-500 mt-1 border-b border-gray-200">
        <div class="basis-0 flex items-center"><app-checkbox></app-checkbox></div>
        <div class="basis-6/12 md:basis-2/12 flex items-center px-1">Date</div>
        <div class="basis-3/12 md:basis-2/12 flex items-center px-1">
            Bénéficiaire
        </div>
        <div class="hidden basis-3/12 md:basis-2/12 md:flex items-center px-1">
            Catégorie
        </div>
        <div class="hidden basis-3/12 md:basis-2/12 md:flex items-center justify-end px-1 text-right">
            Débit
        </div>
        <div class="hidden basis-3/12 md:basis-2/12 md:flex items-center justify-end px-1 text-right">
            Crédit
        </div>
        <div class="basis-0 flex items-center">
            <fa-icon [icon]="icCircle" class="w-4 h-4 mx-2 text-gray-300"></fa-icon>
        </div>
        <div class="basis-3/12 md:basis-2/12 flex items-center justify-end px-1 text-right">
            Solde
        </div>
    </div>
    <div>
        <div *ngIf="error()" class="px-2 py-2 text-xs text-rose-600">
            {{ error() }}
        </div>
        <ng-container *ngIf="loading(); else transactionsList">
            <div class="px-2 py-4 text-xs text-gray-400">Chargement des transactions…</div>
        </ng-container>
        <ng-template #transactionsList>
            <ng-container *ngIf="transactions().length; else emptyState">
                <app-account-transaction
                    *ngFor="let transaction of transactions(); trackBy: trackByTransactionId"
                    [transaction]="transaction"
                    (save)="handleSave($event)"
                ></app-account-transaction>
            </ng-container>
        </ng-template>
        <ng-template #emptyState>
            <div class="px-2 py-4 text-xs text-gray-400">Aucune transaction à afficher.</div>
        </ng-template>
    </div>
</div>
