<div>
    <div class="flex flex-row px-2 h-8 text-xs font-semibold uppercase text-gray-500 mt-1 border-b border-gray-200">
        <div class="basis-0 flex items-center"><app-checkbox></app-checkbox></div>
        <div class="basis-6/12 md:basis-2/12 flex items-center px-1">Date</div>
        <div class="basis-3/12 md:basis-2/12 flex items-center px-1">
            Bénéficiaire
        </div>
        <div class="hidden basis-3/12 md:basis-2/12 md:flex items-center px-1">
            Catégorie
        </div>
        <div class="hidden basis-3/12 md:basis-2/12 md:flex items-center justify-end px-1 text-right">
            Débit
        </div>
        <div class="hidden basis-3/12 md:basis-2/12 md:flex items-center justify-end px-1 text-right">
            Crédit
        </div>
        <div class="basis-3/12 md:basis-2/12 flex items-center justify-end px-1 text-right">
            Solde
        </div>
    </div>
    <div>
        <app-account-transaction></app-account-transaction>
        <app-account-transaction></app-account-transaction>
        <app-account-transaction></app-account-transaction>
        <app-account-transaction></app-account-transaction>
        <app-account-transaction></app-account-transaction>
        <app-account-transaction></app-account-transaction>
    </div>
</div>