<div>
    <div class="flex flex-col">
        <div class="text-base font-semibold text-gray-600">Actions automatiques</div>

      <button class="cursor-pointer flex items-center gap-2 p-2 px-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#58a9ff] max-w-xs text-left">
        <fa-icon [icon]="icAction" class="text-base text-yellow-500"></fa-icon>
        <span class="text-xs font-medium text-yellow-700">Assigné le nécessaire du mois (122,33 €)</span>
      </button>

      <button class="cursor-pointer flex items-center gap-2 p-2 px-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#58a9ff] max-w-xs text-left">
        <fa-icon [icon]="icAction" class="text-base text-emerald-500"></fa-icon>
        <span class="text-xs font-medium text-emerald-700">Assigné le montant optimum (142,33 €)</span>
      </button>

    </div>
</div>